/****** Object:  StoredProcedure [dbo].[MOSTRAR_SCM_DASHBOARD_ARCHIVO]    Script Date: 14/06/2023 08:17:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MOSTRAR_SCM_DASHBOARD_ARCHIVO]
@iCodigoDB int
as
	SELECT
		vArchivo
	FROM VIST_SCM_DASHBOARD
	WHERE
		iCodigoDB = @iCodigoDB


GO
