/****** Object:  Table [dbo].[CM_MOVIMIENTOS_UBICACIONES_ORIGEN]    Script Date: 14/06/2023 08:45:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CM_MOVIMIENTOS_UBICACIONES_ORIGEN](
	[iCodigo] [int] NOT NULL,
	[iCodigoOrigen] [int] NOT NULL,
	[nEastingOrigen] [float] NULL,
	[nNorthingOrigen] [float] NULL,
	[nElevationOrigen] [float] NULL,
	[nLongitudOrigen] [float] NULL,
	[nLatitudOrigen] [float] NULL,
	[bMezcla] [bit] NOT NULL,
	[cTronada] [varchar](50) NULL,
 CONSTRAINT [PK_CM_MOVIMIENTOS_UBICACIONES_ORIGEN] PRIMARY KEY CLUSTERED 
(
	[iCodigo] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CM_MOVIMIENTOS_UBICACIONES_ORIGEN]  WITH CHECK ADD  CONSTRAINT [FK_CM_MOVIMIENTOS_UBICACIONES_ORIGEN_CM_UBICACIONES] FOREIGN KEY([iCodigoOrigen])
REFERENCES [dbo].[CM_UBICACIONES] ([iCodigo])
GO
ALTER TABLE [dbo].[CM_MOVIMIENTOS_UBICACIONES_ORIGEN] CHECK CONSTRAINT [FK_CM_MOVIMIENTOS_UBICACIONES_ORIGEN_CM_UBICACIONES]
GO
