/****** Object:  Table [dbo].[CM_MOVIMIENTOS_DESTINO_STOCK_MOVIMIENTOS]    Script Date: 14/06/2023 08:45:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CM_MOVIMIENTOS_DESTINO_STOCK_MOVIMIENTOS](
	[Id] [int] NOT NULL,
	[IdDesc] [int] NOT NULL,
	[iCodigo] [int] NOT NULL,
	[iTipoMovimiento] [int] NOT NULL,
	[cTipoMovimiento] [varchar](50) NOT NULL,
	[dFechaRPT] [date] NOT NULL,
	[nAu] [float] NULL,
	[nAg] [float] NULL,
	[nAs] [float] NULL,
	[nHg] [float] NULL,
	[nCu] [float] NULL,
	[nPb] [float] NULL,
	[nZn] [float] NULL,
	[nS] [float] NULL,
	[nDensidad] [float] NULL,
	[nToneladas] [float] NULL,
	[nToneladasFlat] [float] NULL,
	[nToneladasV1] [float] NULL,
	[nToneladasFlatV1] [float] NULL,
	[nToneladasV1Restar] [float] NULL,
	[nToneladasFlatV1Restar] [float] NULL,
	[iCodigoOrigen] [int] NOT NULL,
	[cDescripcionOrigen] [varchar](400) NOT NULL,
	[cAliasOrigen] [varchar](50) NOT NULL,
	[cTipoOrigen] [char](1) NOT NULL,
	[iCodigoDestino] [int] NOT NULL,
	[cDescripcionDestino] [varchar](400) NOT NULL,
	[cAliasDestino] [varchar](50) NOT NULL,
	[cTipoDestino] [char](1) NOT NULL,
	[iCodigoDestinoCombo] [int] NOT NULL,
	[iViajes] [int] NULL,
	[nMultiplicador] [int] NULL,
	[nToneladasFlatV1_Acum] [float] NULL,
	[nAuStock] [float] NULL,
	[nAgStock] [float] NULL,
	[nAsStock] [float] NULL,
	[nHgStock] [float] NULL,
	[nCuStock] [float] NULL,
	[nPbStock] [float] NULL,
	[nZnStock] [float] NULL,
	[nSStock] [float] NULL,
	[nDensidadStock] [float] NULL
) ON [PRIMARY]
GO
