/****** Object:  Table [dbo].[USUARIOS_MODULOS]    Script Date: 14/06/2023 08:45:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS_MODULOS](
	[iCodigoUsuario] [int] NOT NULL,
	[iCodigoModulos] [int] NOT NULL,
 CONSTRAINT [PK_USUARIOS_MODULOS] PRIMARY KEY CLUSTERED 
(
	[iCodigoUsuario] ASC,
	[iCodigoModulos] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[USUARIOS_MODULOS]  WITH CHECK ADD  CONSTRAINT [FK_USUARIOS_MODULOS_PARAMETROS] FOREIGN KEY([iCodigoModulos])
REFERENCES [dbo].[PARAMETROS] ([iCodigoParametro])
GO
ALTER TABLE [dbo].[USUARIOS_MODULOS] CHECK CONSTRAINT [FK_USUARIOS_MODULOS_PARAMETROS]
GO
ALTER TABLE [dbo].[USUARIOS_MODULOS]  WITH CHECK ADD  CONSTRAINT [FK_USUARIOS_MODULOS_USUARIOS] FOREIGN KEY([iCodigoUsuario])
REFERENCES [dbo].[USUARIOS] ([iCodigoUsuario])
GO
ALTER TABLE [dbo].[USUARIOS_MODULOS] CHECK CONSTRAINT [FK_USUARIOS_MODULOS_USUARIOS]
GO
