/****** Object:  Table [dbo].[ABC]    Script Date: 14/06/2023 08:45:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ABC](
	[iCodigoABC] [int] IDENTITY(1,1) NOT NULL,
	[cABC] [varchar](4) NOT NULL,
 CONSTRAINT [PK_ABC] PRIMARY KEY CLUSTERED 
(
	[iCodigoABC] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
