/****** Object:  Table [dbo].[CM_PARAMETROS_GEOLOGICOS]    Script Date: 14/06/2023 08:45:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CM_PARAMETROS_GEOLOGICOS](
	[iCodigo] [int] IDENTITY(1,1) NOT NULL,
	[cCodigoEstadistica] [varchar](200) NOT NULL,
	[cCodigoFisica] [varchar](200) NOT NULL,
	[cDescripcion] [varchar](100) NOT NULL,
	[cAlias] [varchar](50) NOT NULL,
	[iTipo] [int] NOT NULL,
 CONSTRAINT [PK_CM_PARAMETROS_GEOLOGICOS] PRIMARY KEY CLUSTERED 
(
	[iCodigo] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
