/****** Object:  Table [dbo].[CM_CIERRE]    Script Date: 14/06/2023 08:45:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CM_CIERRE](
	[dFecha] [date] NOT NULL,
	[bCierre] [bit] NOT NULL,
 CONSTRAINT [PK_CM_CIERRE] PRIMARY KEY CLUSTERED 
(
	[dFecha] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
