/****** Object:  Table [dbo].[USUARIOS]    Script Date: 14/06/2023 08:45:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[iCodigoUsuario] [int] IDENTITY(1,1) NOT NULL,
	[iTipo] [int] NULL,
	[cUsuario] [varchar](200) NOT NULL,
	[vContraseña] [varbinary](800) NOT NULL,
	[cCodigo] [varchar](200) NOT NULL,
	[cDNI] [varchar](8) NOT NULL,
	[cNombres] [varchar](200) NOT NULL,
	[cApellidos] [varchar](200) NOT NULL,
	[iCodigoArea] [int] NOT NULL,
	[iCodigoCargo] [int] NOT NULL,
	[dCumpleaños] [date] NOT NULL,
	[cCorreo] [varchar](200) NOT NULL,
	[cTelefono] [varchar](200) NOT NULL,
	[bEstado] [bit] NOT NULL,
	[vDashBoard] [varbinary](max) NULL,
	[vFoto] [varbinary](max) NULL,
	[vFirma] [varbinary](max) NULL,
	[cMac] [varchar](20) NOT NULL,
	[iCodigoEmpresa] [int] NOT NULL,
 CONSTRAINT [PK_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[iCodigoUsuario] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__USUARIOS__12229D90379DE6B3] UNIQUE NONCLUSTERED 
(
	[cUsuario] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__USUARIOS__12229D907546AE95] UNIQUE NONCLUSTERED 
(
	[cUsuario] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__USUARIOS__20DD7CE28C08ACCC] UNIQUE NONCLUSTERED 
(
	[cDNI] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__USUARIOS__20DD7CE2DDA78B70] UNIQUE NONCLUSTERED 
(
	[cDNI] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__USUARIOS__E7FE90E0B1D23209] UNIQUE NONCLUSTERED 
(
	[cCodigo] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__USUARIOS__E7FE90E0D41BCFD3] UNIQUE NONCLUSTERED 
(
	[cCodigo] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_USUARIOS_PARAMETROS] FOREIGN KEY([iCodigoArea])
REFERENCES [dbo].[PARAMETROS] ([iCodigoParametro])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_USUARIOS_PARAMETROS]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_USUARIOS_PARAMETROS1] FOREIGN KEY([iCodigoCargo])
REFERENCES [dbo].[PARAMETROS] ([iCodigoParametro])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_USUARIOS_PARAMETROS1]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_USUARIOS_PARAMETROS2] FOREIGN KEY([iTipo])
REFERENCES [dbo].[PARAMETROS] ([iCodigoParametro])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_USUARIOS_PARAMETROS2]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_USUARIOS_PARAMETROS3] FOREIGN KEY([iCodigoEmpresa])
REFERENCES [dbo].[PARAMETROS] ([iCodigoParametro])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_USUARIOS_PARAMETROS3]
GO
