/****** Object:  Table [dbo].[CM_FACTORCARGA]    Script Date: 14/06/2023 08:45:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CM_FACTORCARGA](
	[dFecha] [date] NOT NULL,
	[iTipoMovimiento] [int] NULL,
	[nFactorMina] [float] NULL,
	[nFactorCorregido] [float] NULL,
	[nCargasMina] [float] NULL,
 CONSTRAINT [PK_CM_FACTORCARGA] PRIMARY KEY CLUSTERED 
(
	[dFecha] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CM_FACTORCARGA] ADD  CONSTRAINT [DF_CM_FACTORCARGA_Fecha]  DEFAULT (getdate()) FOR [dFecha]
GO
