/****** Object:  Table [dbo].[CM_MOVIMIENTOS_GENERAL]    Script Date: 14/06/2023 08:45:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CM_MOVIMIENTOS_GENERAL](
	[iCodigo] [int] IDENTITY(1,1) NOT NULL,
	[dFechaRPT] [date] NOT NULL,
	[cTurno] [varchar](1) NOT NULL,
	[dFechaHora] [datetime] NOT NULL,
	[cObservaciones] [varchar](max) NOT NULL,
	[bAuto] [bit] NOT NULL,
	[iTipo] [int] NOT NULL,
 CONSTRAINT [PK_CM_MOVIMIENTOS_GENERAL] PRIMARY KEY CLUSTERED 
(
	[iCodigo] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
