/****** Object:  Table [dbo].[CN_MOVIMIENTOS_IMPORTACION_OBSERVACIONES]    Script Date: 14/06/2023 08:45:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CN_MOVIMIENTOS_IMPORTACION_OBSERVACIONES](
	[iCodigo] [int] IDENTITY(1,1) NOT NULL,
	[dFechaRPT] [date] NOT NULL,
	[iTipo] [int] NOT NULL,
	[dFechaEjecucion] [datetime] NOT NULL,
	[iCodigoUsuario] [int] NULL,
	[cObservacion] [varchar](max) NULL,
 CONSTRAINT [PK_CN_MOVIMIENTOS_IMPORTACION_OBSERVACIONES_1] PRIMARY KEY CLUSTERED 
(
	[iCodigo] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
