/****** Object:  Table [dbo].[USUARIOS_ACTIVIDADES]    Script Date: 14/06/2023 08:45:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS_ACTIVIDADES](
	[iCodigoActividades] [int] IDENTITY(1,1) NOT NULL,
	[iCodigoUsuario] [int] NOT NULL,
	[cActividad] [varchar](500) NOT NULL,
	[cObservacion] [varchar](max) NOT NULL,
	[cDocumento] [varchar](100) NOT NULL,
	[vDocumento] [varbinary](max) NULL,
	[iPrioridad] [int] NOT NULL,
	[bEstado] [bit] NOT NULL,
 CONSTRAINT [PK_USUARIOS_ACTIVIDADES] PRIMARY KEY CLUSTERED 
(
	[iCodigoActividades] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[USUARIOS_ACTIVIDADES]  WITH CHECK ADD  CONSTRAINT [FK_USUARIOS_ACTIVIDADES_USUARIOS] FOREIGN KEY([iCodigoUsuario])
REFERENCES [dbo].[USUARIOS] ([iCodigoUsuario])
GO
ALTER TABLE [dbo].[USUARIOS_ACTIVIDADES] CHECK CONSTRAINT [FK_USUARIOS_ACTIVIDADES_USUARIOS]
GO
